[Desktop Entry]
Comment=A user interface for GNU/Linux desktop
Terminal=false
Name=NetSpy2Ban
Exec=/usr/bin/netspy2start
Type=Application
Icon=netspy2ban
Categories=GNOME;GTK;System;Profiling;
Keywords=fail2ban;networking;
